/*Reset css */ 
*, *::before, *::after {
   box-sizing: border-box;
 }
 * {
   margin: 0;
 }

 html, body {
   height: 100%;
 }
 body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
 }
 img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
 }
 input, button, textarea, select {
   font: inherit;
 }
 p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
 }
 #root, #__next {
   isolation: isolate;
 }
/** end reset**/

.container{ 
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.container{
  display: flex;
  justify-content: center;
}

 #backgroundVideo, .opacity{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
 }
 .opacity{ 
   background-color: #00000070;
 }
/** Typographie & title */
 #title {
  text-align: center;
  font-size: 5rem;
  color: aliceblue;
 }



/** end Typographie & title **/  

/** content & favorites   **/
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites{
  width: 80%;
  height: 80%;
  margin: 0 auto; 
  border: 2px solid red;
  position: absolute;
}


/** end favorites   **/ 